Language: Cpp
BasedOnStyle: webkit

# Indentation
IndentWidth: 4

# Other formatting
# I actually want comments to be indented properly
#ReflowComments: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
BreakBeforeBraces: WebKit
BraceWrapping:
  AfterControlStatement: false
